<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= variable %></title>
</head>

  <body>
    <img src="<%= variable %>">
  </body>

</html>
